black==23.3.0
httpx==0.24.0
hype-html==2.0.3
isort==5.12.0
Jinja2==3.1.2
mypy==1.2.0
pycodestyle==2.11.1
pytest==7.3.1
pytest-cov==4.0.0
python-multipart==0.0.6
starlette==0.26.1
pytest-asyncio==0.21.1