.board {
    width: 300px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.square {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}